---
import Layout from "@/layouts/Layout.astro";
import foto from "@/assets/foto3.png";
import web from "@/assets/web6.png";
import deone from "@/assets/deone.png";
import pagegif from "@/assets/page-gif.png";
import Developer from "@/components/Developer.astro";
---

<Layout title="Portafolio">
  <article id="home" class="page-home">
    <section class="box-home">
      <div class="content1">
        <h1>Hola👋,</h1>
        <h1>Soy <span>Jefferson Garcia</span></h1>
        <p class="text-home">Frontend Developer / Web Developer</p>
        <div class="box-btn-home">
          <button class="btn-home">Descargar CV</button>
          <button class="btn-home">Contactame</button>
        </div>
      </div>
      <div class="box-img">
        <Developer />
      </div>
    </section>
  </article>
  <article id="about" class="page-about">
    <section class="box-about">
      <div class="content-about">
        <img src=`${foto.src}` alt="Jefferson Garcia" />
        <h1>Sobre mi</h1>
        <p>
          Hola, soy Jefferson Garcia, desarrollador de software con (+2 años) de
          experiencia, un apasionado por la tecnología y el desarrollo web. Mi
          enfoque principal es construir soluciones eficientes y escalables.
        </p>
        <p>
          Las herraientas que más uso son TypeScript, Node.js, Express, React y
          PostgreSQL. Mi interés en la tecnología me ha impulsado a profundizar
          en cada una de estas herramientas para desarrollar aplicaciones
          sólidas y de rendimiento.
        </p>
        <p>
          Me considero una persona proactiva, responsable, con capacidad para
          trabajar en equipo y bajo presión. Me gusta afrontar nuevos retos y
          aprender de ellos.
        </p>
        <button>Habilidades</button>
      </div>
      <!-- <div class="img-about">
        <img src=`${foto.src}` alt="Jefferson Garcia" />
      </div>
      <div class="text-about">
        <h1>Sobre mi</h1>
        <div class="text-scroll">
          <p>
            Hola, soy Jefferson Garcia, un apasionado por la tecnología y el
            desarrollo web. Me encanta aprender cosas nuevas y estar en
            constante crecimiento. Actualmente me encuentro en la búsqueda de
            nuevas oportunidades laborales para seguir creciendo como
            profesional.
          </p>
          <p>
            Me considero una persona proactiva, responsable, con capacidad para
            trabajar en equipo y bajo presión. Me gusta afrontar nuevos retos y
            aprender de ellos.
          </p>
          <p>Si deseas saber más sobre mi, no dudes en contactarme.</p>
        </div>
      </div> -->
    </section>
  </article>
  <article id="works" class="page-works">
    <section class="box-works">
      <div class="title-works">
        <h1>Proyectos</h1>
        <p>
          Vea algunos de mis trabajos recientes y las tecnologías que he
          utilizado para darles vida.
        </p>
      </div>
      <div class="card-works">
        <div class="card-img">
          <img src=`${deone.src}` />
        </div>
        <div class="card-text">
          <h1>Deone</h1>
          <p>
            Deone es una plataforma de educación en línea que ofrece cursos
            gratuitos y de pago en diferentes áreas de conocimiento.
          </p>
          <h1>Tecnologías</h1>
          <div class="group-skills">
            <div class="skills">
              <svg
                width="19px"
                height="19px"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="nonzero"
                    clip-rule="nonzero"
                    d="M0 1.75C0 0.783501 0.783502 0 1.75 0H14.25C15.2165 0 16 0.783502 16 1.75V3.75C16 4.16421 15.6642 4.5 15.25 4.5C14.8358 4.5 14.5 4.16421 14.5 3.75V1.75C14.5 1.61193 14.3881 1.5 14.25 1.5H1.75C1.61193 1.5 1.5 1.61193 1.5 1.75V14.25C1.5 14.3881 1.61193 14.5 1.75 14.5H15.25C15.6642 14.5 16 14.8358 16 15.25C16 15.6642 15.6642 16 15.25 16H1.75C0.783501 16 0 15.2165 0 14.25V1.75ZM4.75 6.5C4.75 6.08579 5.08579 5.75 5.5 5.75H9.25C9.66421 5.75 10 6.08579 10 6.5C10 6.91421 9.66421 7.25 9.25 7.25H8.25V12.5C8.25 12.9142 7.91421 13.25 7.5 13.25C7.08579 13.25 6.75 12.9142 6.75 12.5V7.25H5.5C5.08579 7.25 4.75 6.91421 4.75 6.5ZM11.2757 6.58011C11.6944 6.08164 12.3507 5.75 13.25 5.75C14.0849 5.75 14.7148 6.03567 15.1394 6.48481C15.4239 6.78583 15.4105 7.26052 15.1095 7.54505C14.8085 7.82958 14.3338 7.81621 14.0493 7.51519C13.9394 7.39898 13.7204 7.25 13.25 7.25C12.7493 7.25 12.5306 7.41836 12.4243 7.54489C12.2934 7.70065 12.25 7.896 12.25 8C12.25 8.104 12.2934 8.29935 12.4243 8.45511C12.5306 8.58164 12.7493 8.75 13.25 8.75C13.3257 8.75 13.3988 8.76121 13.4676 8.78207C14.1307 8.87646 14.6319 9.17251 14.9743 9.58011C15.3684 10.0493 15.5 10.604 15.5 11C15.5 11.396 15.3684 11.9507 14.9743 12.4199C14.5556 12.9184 13.8993 13.25 13 13.25C12.1651 13.25 11.5352 12.9643 11.1106 12.5152C10.8261 12.2142 10.8395 11.7395 11.1405 11.4549C11.4415 11.1704 11.9162 11.1838 12.2007 11.4848C12.3106 11.601 12.5296 11.75 13 11.75C13.5007 11.75 13.7194 11.5816 13.8257 11.4551C13.9566 11.2993 14 11.104 14 11C14 10.896 13.9566 10.7007 13.8257 10.5449C13.7194 10.4184 13.5007 10.25 13 10.25C12.9243 10.25 12.8512 10.2388 12.7824 10.2179C12.1193 10.1235 11.6181 9.82749 11.2757 9.41989C10.8816 8.95065 10.75 8.396 10.75 8C10.75 7.604 10.8816 7.04935 11.2757 6.58011Z"
                    fill="#3178c6"></path>
                </g></svg
              >
              <p>Typescript</p>
            </div>
            <div class="skills">
              <svg
                width="19px"
                height="19px"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 1.5C4.41015 1.5 1.5 4.41015 1.5 8C1.5 11.5899 4.41015 14.5 8 14.5C9.35329 14.5 10.6088 14.0871 11.6492 13.3799L6 6.57712V11.25C6 11.6642 5.66421 12 5.25 12C4.83579 12 4.5 11.6642 4.5 11.25V4.5C4.5 4.184 4.69807 3.9019 4.99529 3.79458C5.29251 3.68726 5.62511 3.77775 5.82699 4.02085L13.3008 13.0209C13.5622 13.3357 13.523 13.802 13.2127 14.0687C11.813 15.272 9.99057 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 8.76428 15.8926 9.50473 15.6916 10.2065C15.5936 10.5489 15.4733 10.8818 15.3325 11.2037C15.1665 11.5832 14.7243 11.7562 14.3448 11.5902C13.9653 11.4242 13.7922 10.982 13.9583 10.6025C14.0725 10.3413 14.1701 10.0712 14.2496 9.79351C14.4125 9.2247 14.5 8.6232 14.5 8C14.5 4.41015 11.5899 1.5 8 1.5ZM10.5 3.75C10.9142 3.75 11.25 4.08579 11.25 4.5V7.5C11.25 7.91421 10.9142 8.25 10.5 8.25C10.0858 8.25 9.75 7.91421 9.75 7.5V4.5C9.75 4.08579 10.0858 3.75 10.5 3.75Z"
                    fill="#000000"></path>
                </g></svg
              >
              <p>Next.js</p>
            </div>
            <div class="skills">
              <svg
                width="19px"
                height="19px"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.5 3C5.63333 3 4.46667 4 4 5.99999C4.7 4.99999 5.51667 4.625 6.45 4.87499C6.98252 5.01763 7.36314 5.43155 7.78443 5.88974C8.47074 6.63613 9.26506 7.49999 11 7.49999C12.8667 7.49999 14.0333 6.49999 14.5 4.5C13.8 5.49999 12.9833 5.87499 12.05 5.62499C11.5175 5.48235 11.1369 5.06844 10.7156 4.61025C10.0293 3.86386 9.23494 3 7.5 3ZM4 7.49999C2.13333 7.49999 0.966667 8.49998 0.5 10.5C1.2 9.49998 2.01667 9.12498 2.95 9.37498C3.48252 9.51762 3.86314 9.93154 4.28443 10.3897C4.97074 11.1361 5.76506 12 7.5 12C9.36667 12 10.5333 11 11 8.99998C10.3 9.99998 9.48333 10.375 8.55 10.125C8.01748 9.98234 7.63686 9.56843 7.21557 9.11023C6.52926 8.36385 5.73494 7.49999 4 7.49999Z"
                    stroke="#06b6d4"
                    stroke-linejoin="round"></path>
                </g></svg
              >
              <p>Tailwind</p>
            </div>
            <div class="skills">
              <svg
                width="19px"
                height="19px"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path
                    d="M2.5 11.5L11.5 3.5L12.5 12.5L7.5 14.5L2.5 11.5ZM2.5 11.5L7.5 2.5L9.5 5.5M2.5 11.5L3.5 0.5L6.5 3.5"
                    stroke="#F6820D"
                    stroke-linejoin="round"></path>
                </g></svg
              >
              <p>Firebase</p>
            </div>
          </div>
          <div class="btn-works">
            <a href="https://deone-qa.vercel.app" target="_blank">
              <button class="btn-works" name="btn">
                <svg
                  name="icon-svg"
                  fill="#ffffff"
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="#ffffff"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <path
                      d="M3.51211712,15 L8.17190229,15 C8.05949197,14.0523506 8,13.0444554 8,12 C8,10.9555446 8.05949197,9.94764942 8.17190229,9 L3.51211712,9 C3.18046266,9.93833678 3,10.9480937 3,12 C3,13.0519063 3.18046266,14.0616632 3.51211712,15 L3.51211712,15 Z M3.93551965,16 C5.12590433,18.3953444 7.35207678,20.1851177 10.0280093,20.783292 C9.24889451,19.7227751 8.65216136,18.0371362 8.31375067,16 L3.93551965,16 L3.93551965,16 Z M20.4878829,15 C20.8195373,14.0616632 21,13.0519063 21,12 C21,10.9480937 20.8195373,9.93833678 20.4878829,9 L15.8280977,9 C15.940508,9.94764942 16,10.9555446 16,12 C16,13.0444554 15.940508,14.0523506 15.8280977,15 L20.4878829,15 L20.4878829,15 Z M20.0644804,16 L15.6862493,16 C15.3478386,18.0371362 14.7511055,19.7227751 13.9719907,20.783292 C16.6479232,20.1851177 18.8740957,18.3953444 20.0644804,16 L20.0644804,16 Z M9.18440269,15 L14.8155973,15 C14.9340177,14.0623882 15,13.0528256 15,12 C15,10.9471744 14.9340177,9.93761183 14.8155973,9 L9.18440269,9 C9.06598229,9.93761183 9,10.9471744 9,12 C9,13.0528256 9.06598229,14.0623882 9.18440269,15 L9.18440269,15 Z M9.3349823,16 C9.85717082,18.9678295 10.9180729,21 12,21 C13.0819271,21 14.1428292,18.9678295 14.6650177,16 L9.3349823,16 L9.3349823,16 Z M3.93551965,8 L8.31375067,8 C8.65216136,5.96286383 9.24889451,4.27722486 10.0280093,3.21670804 C7.35207678,3.81488234 5.12590433,5.60465556 3.93551965,8 L3.93551965,8 Z M20.0644804,8 C18.8740957,5.60465556 16.6479232,3.81488234 13.9719907,3.21670804 C14.7511055,4.27722486 15.3478386,5.96286383 15.6862493,8 L20.0644804,8 L20.0644804,8 Z M9.3349823,8 L14.6650177,8 C14.1428292,5.03217048 13.0819271,3 12,3 C10.9180729,3 9.85717082,5.03217048 9.3349823,8 L9.3349823,8 Z M12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 Z"
                    ></path>
                  </g></svg
                >
                Visitar
              </button>
            </a>
            <a href="https://gitlab.com/rafael.vaca/de-one" target="_blank">
              <button class="btn-works" name="btn">
                <svg
                  name="icon-svg"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-gitlab"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path d="M21 14l-9 7l-9 -7l3 -11l3 7h6l3 -7z"
                  ></path></svg
                >
                Repositorio
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="card-works">
        <div class="card-text">
          <h1>GifExpert</h1>
          <p>
            Deone es una plataforma de educación en línea que ofrece cursos
            gratuitos y de pago en diferentes áreas de conocimiento.
          </p>
          <h1>Tecnologías</h1>
          <div class="group-skills">
            <div class="skills">
              <svg
                width="19px"
                height="19px"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="nonzero"
                    clip-rule="nonzero"
                    d="M0 1.75C0 0.783501 0.783502 0 1.75 0H14.25C15.2165 0 16 0.783502 16 1.75V3.75C16 4.16421 15.6642 4.5 15.25 4.5C14.8358 4.5 14.5 4.16421 14.5 3.75V1.75C14.5 1.61193 14.3881 1.5 14.25 1.5H1.75C1.61193 1.5 1.5 1.61193 1.5 1.75V14.25C1.5 14.3881 1.61193 14.5 1.75 14.5H15.25C15.6642 14.5 16 14.8358 16 15.25C16 15.6642 15.6642 16 15.25 16H1.75C0.783501 16 0 15.2165 0 14.25V1.75ZM4.75 6.5C4.75 6.08579 5.08579 5.75 5.5 5.75H9.25C9.66421 5.75 10 6.08579 10 6.5C10 6.91421 9.66421 7.25 9.25 7.25H8.25V12.5C8.25 12.9142 7.91421 13.25 7.5 13.25C7.08579 13.25 6.75 12.9142 6.75 12.5V7.25H5.5C5.08579 7.25 4.75 6.91421 4.75 6.5ZM11.2757 6.58011C11.6944 6.08164 12.3507 5.75 13.25 5.75C14.0849 5.75 14.7148 6.03567 15.1394 6.48481C15.4239 6.78583 15.4105 7.26052 15.1095 7.54505C14.8085 7.82958 14.3338 7.81621 14.0493 7.51519C13.9394 7.39898 13.7204 7.25 13.25 7.25C12.7493 7.25 12.5306 7.41836 12.4243 7.54489C12.2934 7.70065 12.25 7.896 12.25 8C12.25 8.104 12.2934 8.29935 12.4243 8.45511C12.5306 8.58164 12.7493 8.75 13.25 8.75C13.3257 8.75 13.3988 8.76121 13.4676 8.78207C14.1307 8.87646 14.6319 9.17251 14.9743 9.58011C15.3684 10.0493 15.5 10.604 15.5 11C15.5 11.396 15.3684 11.9507 14.9743 12.4199C14.5556 12.9184 13.8993 13.25 13 13.25C12.1651 13.25 11.5352 12.9643 11.1106 12.5152C10.8261 12.2142 10.8395 11.7395 11.1405 11.4549C11.4415 11.1704 11.9162 11.1838 12.2007 11.4848C12.3106 11.601 12.5296 11.75 13 11.75C13.5007 11.75 13.7194 11.5816 13.8257 11.4551C13.9566 11.2993 14 11.104 14 11C14 10.896 13.9566 10.7007 13.8257 10.5449C13.7194 10.4184 13.5007 10.25 13 10.25C12.9243 10.25 12.8512 10.2388 12.7824 10.2179C12.1193 10.1235 11.6181 9.82749 11.2757 9.41989C10.8816 8.95065 10.75 8.396 10.75 8C10.75 7.604 10.8816 7.04935 11.2757 6.58011Z"
                    fill="#3178c6"></path>
                </g></svg
              >
              <p>Typescript</p>
            </div>
            <div class="skills">
              <svg
                width="19px"
                height="19px"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 1.5C4.41015 1.5 1.5 4.41015 1.5 8C1.5 11.5899 4.41015 14.5 8 14.5C9.35329 14.5 10.6088 14.0871 11.6492 13.3799L6 6.57712V11.25C6 11.6642 5.66421 12 5.25 12C4.83579 12 4.5 11.6642 4.5 11.25V4.5C4.5 4.184 4.69807 3.9019 4.99529 3.79458C5.29251 3.68726 5.62511 3.77775 5.82699 4.02085L13.3008 13.0209C13.5622 13.3357 13.523 13.802 13.2127 14.0687C11.813 15.272 9.99057 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 8.76428 15.8926 9.50473 15.6916 10.2065C15.5936 10.5489 15.4733 10.8818 15.3325 11.2037C15.1665 11.5832 14.7243 11.7562 14.3448 11.5902C13.9653 11.4242 13.7922 10.982 13.9583 10.6025C14.0725 10.3413 14.1701 10.0712 14.2496 9.79351C14.4125 9.2247 14.5 8.6232 14.5 8C14.5 4.41015 11.5899 1.5 8 1.5ZM10.5 3.75C10.9142 3.75 11.25 4.08579 11.25 4.5V7.5C11.25 7.91421 10.9142 8.25 10.5 8.25C10.0858 8.25 9.75 7.91421 9.75 7.5V4.5C9.75 4.08579 10.0858 3.75 10.5 3.75Z"
                    fill="#000000"></path>
                </g></svg
              >
              <p>Next.js</p>
            </div>
            <div class="skills">
              <svg
                width="19px"
                height="19px"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.5 3C5.63333 3 4.46667 4 4 5.99999C4.7 4.99999 5.51667 4.625 6.45 4.87499C6.98252 5.01763 7.36314 5.43155 7.78443 5.88974C8.47074 6.63613 9.26506 7.49999 11 7.49999C12.8667 7.49999 14.0333 6.49999 14.5 4.5C13.8 5.49999 12.9833 5.87499 12.05 5.62499C11.5175 5.48235 11.1369 5.06844 10.7156 4.61025C10.0293 3.86386 9.23494 3 7.5 3ZM4 7.49999C2.13333 7.49999 0.966667 8.49998 0.5 10.5C1.2 9.49998 2.01667 9.12498 2.95 9.37498C3.48252 9.51762 3.86314 9.93154 4.28443 10.3897C4.97074 11.1361 5.76506 12 7.5 12C9.36667 12 10.5333 11 11 8.99998C10.3 9.99998 9.48333 10.375 8.55 10.125C8.01748 9.98234 7.63686 9.56843 7.21557 9.11023C6.52926 8.36385 5.73494 7.49999 4 7.49999Z"
                    stroke="#06b6d4"
                    stroke-linejoin="round"></path>
                </g></svg
              >
              <p>Tailwind</p>
            </div>
            <div class="skills">
              <svg
                width="19px"
                height="19px"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path
                    d="M2.5 11.5L11.5 3.5L12.5 12.5L7.5 14.5L2.5 11.5ZM2.5 11.5L7.5 2.5L9.5 5.5M2.5 11.5L3.5 0.5L6.5 3.5"
                    stroke="#F6820D"
                    stroke-linejoin="round"></path>
                </g></svg
              >
              <p>Firebase</p>
            </div>
          </div>
          <div class="btn-works">
            <a
              href="https://jeffersons69.github.io/GifExpert-React/"
              target="_blank"
            >
              <button class="btn-works">
                <svg
                  name="icon-svg"
                  fill="#ffffff"
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="#ffffff"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <path
                      d="M3.51211712,15 L8.17190229,15 C8.05949197,14.0523506 8,13.0444554 8,12 C8,10.9555446 8.05949197,9.94764942 8.17190229,9 L3.51211712,9 C3.18046266,9.93833678 3,10.9480937 3,12 C3,13.0519063 3.18046266,14.0616632 3.51211712,15 L3.51211712,15 Z M3.93551965,16 C5.12590433,18.3953444 7.35207678,20.1851177 10.0280093,20.783292 C9.24889451,19.7227751 8.65216136,18.0371362 8.31375067,16 L3.93551965,16 L3.93551965,16 Z M20.4878829,15 C20.8195373,14.0616632 21,13.0519063 21,12 C21,10.9480937 20.8195373,9.93833678 20.4878829,9 L15.8280977,9 C15.940508,9.94764942 16,10.9555446 16,12 C16,13.0444554 15.940508,14.0523506 15.8280977,15 L20.4878829,15 L20.4878829,15 Z M20.0644804,16 L15.6862493,16 C15.3478386,18.0371362 14.7511055,19.7227751 13.9719907,20.783292 C16.6479232,20.1851177 18.8740957,18.3953444 20.0644804,16 L20.0644804,16 Z M9.18440269,15 L14.8155973,15 C14.9340177,14.0623882 15,13.0528256 15,12 C15,10.9471744 14.9340177,9.93761183 14.8155973,9 L9.18440269,9 C9.06598229,9.93761183 9,10.9471744 9,12 C9,13.0528256 9.06598229,14.0623882 9.18440269,15 L9.18440269,15 Z M9.3349823,16 C9.85717082,18.9678295 10.9180729,21 12,21 C13.0819271,21 14.1428292,18.9678295 14.6650177,16 L9.3349823,16 L9.3349823,16 Z M3.93551965,8 L8.31375067,8 C8.65216136,5.96286383 9.24889451,4.27722486 10.0280093,3.21670804 C7.35207678,3.81488234 5.12590433,5.60465556 3.93551965,8 L3.93551965,8 Z M20.0644804,8 C18.8740957,5.60465556 16.6479232,3.81488234 13.9719907,3.21670804 C14.7511055,4.27722486 15.3478386,5.96286383 15.6862493,8 L20.0644804,8 L20.0644804,8 Z M9.3349823,8 L14.6650177,8 C14.1428292,5.03217048 13.0819271,3 12,3 C10.9180729,3 9.85717082,5.03217048 9.3349823,8 L9.3349823,8 Z M12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 Z"
                    ></path>
                  </g></svg
                >
                Visitar
              </button>
            </a>
            <a
              href="https://github.com/JeffersonS69/GifExpert-React"
              target="_blank"
            >
              <button class="btn-works">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path
                    d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                  ></path></svg
                >
                Repositorio
              </button>
            </a>
          </div>
        </div>
        <div class="card-img">
          <img src=`${pagegif.src}` />
        </div>
      </div>
    </section>
  </article>
  <article id="experience" class="page-experience">
    <section class="box-experience">
      <div class="text-experience">
        <h1>Experiencia</h1>
      </div>
      <div class="card-exp">
        <div class="content-exp">
          <div class="cua"></div>
          <h1>Desarrollador Frontend</h1>
          <p>PUCE Esmeraldas • Jornada Parcial</p>
          <p>feb. 2023 - oct. 2023</p>
          <p>Esmeraldas, Esmeraldas, Ecuador · Presencial</p>
          <p>
            Trabajé como desarrollador en la creación de interfaces de usuario
            para solicitar permisos especiales a los trabajadores y administrar
            aulas para los docentes.
          </p>
        </div>
        <div class="content-exp">
          <div class="cua"></div>
          <h1>Desarrollador FullStack</h1>
          <p>WOOWTECHNOLOGYSAS • Jornada Completa</p>
          <p>mar.2024 - ago.2024</p>
          <p>Quito, Pichincha, Ecuador</p>
          <p>
            Encargado de desarrollar micro-servicios e interfaces de usuario
            para agendar citas en una aplicación de mecánica.
          </p>
        </div>
        <div class="content-exp">
          <div class="cua"></div>
          <h1>Auxiliar de soporte de TI</h1>
          <p>
            Instituto Ecuatoriano de Seguridad Social (IESS) • Jornada Completa
          </p>
          <p>ago.2024 - oct.2024</p>
          <p>Esmeraldas, Esmeraldas, Ecuador · Presencial</p>
          <p>
            Brinde asistencia a los empleados para resolver problemas técnicos
            relacionado con software, hardware, y sistemas internos.
          </p>
        </div>
      </div>
    </section>
  </article>
  <article id="contact" class="page-contact">
    <section class="box-contact">
      <div class="card-contact">
        <h1>¡Contáctame!</h1>
        <form
          action="https://formspree.io/f/xnqoqzqz"
          method="POST"
          class="form-contact"
        >
          <label>Nombre completo</label>
          <input type="text" name="name" placeholder="Saul Goodman" required />
          <label>Correo electrónico</label>
          <input
            type="email"
            name="email"
            placeholder="sauljp12@email.com"
            required
          />
          <label>Mensaje</label>
          <textarea name="message" placeholder="Estimado..." required
          ></textarea>
          <button type="submit">Enviar</button>
        </form>
      </div>
    </section>
  </article>
</Layout>
<script>
  function detectCurrentSection() {
    const sections: NodeListOf<HTMLElement> =
      document.querySelectorAll("article");
    let currentSection: string = "";

    sections.forEach((section: HTMLElement) => {
      const sectionTop: number = section.offsetTop;
      const sectionHeight: number = section.offsetHeight;
      const scrollPosition: number = window.scrollY;

      if (scrollPosition >= sectionTop - sectionHeight / 2) {
        currentSection = section.getAttribute("id") as string;
      }
    });

    if (currentSection && window.location.hash !== `#${currentSection}`) {
      history.pushState(null, "", `#${currentSection}`);
    }
  }

  window.addEventListener("scroll", detectCurrentSection);
</script>
