---
import Layout from "@/layouts/Layout.astro";
import foto from "@/assets/foto3.png";
import web from "@/assets/web6.png";
import deone from "@/assets/deone.png";
import pagegif from "@/assets/page-gif.png";
---
<Layout title="Portafolio">
  <article id="home" class="page-home">
    <section class="box-home">
      <div>
        <h1>Hola游녦,</h1>
        <h1>Soy <span>Jefferson Garcia</span></h1>
        <p class="text-home">Frontend Developer / Web Developer</p>
        <div class="box-btn-home">
          <button class="btn-home">Descargar CV</button>
          <button class="btn-home">Contactame</button>
        </div>
      </div>
      <img src=`${web.src}` alt="Desarrollo web" class="img-web" />
    </section>
  </article>
  <article id="about" class="page-about">
    <section class="box-about">
      <div class="img-about">
        <img src=`${foto.src}` alt="Jefferson Garcia" />
      </div>
      <div class="text-about">
        <h1>Sobre mi</h1>
        <div class="text-scroll">
          <p>
            Hola, soy Jefferson Garcia, un apasionado por la tecnolog칤a y el
            desarrollo web. Me encanta aprender cosas nuevas y estar en
            constante crecimiento. Actualmente me encuentro en la b칰squeda de
            nuevas oportunidades laborales para seguir creciendo como
            profesional.
          </p>
          <p>
            Me considero una persona proactiva, responsable, con capacidad para
            trabajar en equipo y bajo presi칩n. Me gusta afrontar nuevos retos y
            aprender de ellos.
          </p>
          <p>Si deseas saber m치s sobre mi, no dudes en contactarme.</p>
        </div>
      </div>
    </section>
  </article>
  <article id="works" class="page-works">
    <section class="box-works">
      <div class="title-works">
        <h1>Proyectos 游</h1>
        <p>
          Vea algunos de mis trabajos recientes y las tecnolog칤as que he
          utilizado para darles vida.
        </p>
      </div>
      <div class="card-works">
        <div class="card-img">
          <img src=`${deone.src}` />
        </div>
        <div class="card-text">
          <h1>Deone</h1>
          <p>
            Deone es una plataforma de educaci칩n en l칤nea que ofrece cursos
            gratuitos y de pago en diferentes 치reas de conocimiento.
          </p>
          <div class="btn-works">
            <button class="btn-works">Visitar</button>
            <button class="btn-works">Repositorio</button>
          </div>
        </div>
      </div>
      <div class="card-works">
        <div class="card-text">
          <h1>GifExpert</h1>
          <p>
            Deone es una plataforma de educaci칩n en l칤nea que ofrece cursos
            gratuitos y de pago en diferentes 치reas de conocimiento.
          </p>
          <div class="btn-works">
            <button class="btn-works">Visitar</button>
            <button class="btn-works">Repositorio</button>
          </div>
        </div>
        <div class="card-img">
          <img src=`${pagegif.src}` />
        </div>
      </div>
    </section>
  </article>
  <article id="skills" class="page-skills">
    <h1>skills</h1>
  </article>
  <article id="contact" class="page-contact">
    <h1>contact</h1>
  </article>
</Layout>
<script>
  function detectCurrentSection() {
    const sections: NodeListOf<HTMLElement> =
      document.querySelectorAll("article");
    let currentSection: string = "";

    sections.forEach((section: HTMLElement) => {
      const sectionTop: number = section.offsetTop;
      const sectionHeight: number = section.offsetHeight;
      const scrollPosition: number = window.scrollY;

      if (scrollPosition >= sectionTop - sectionHeight / 2) {
        currentSection = section.getAttribute("id") as string;
      }
    });

    if (currentSection && window.location.hash !== `#${currentSection}`) {
      history.pushState(null, "", `#${currentSection}`);
    }
  }

  window.addEventListener("scroll", detectCurrentSection);
</script>
